sudo: required
services:
  - docker

before_install:
  - docker build -t bretts89/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true bretts89/react-test npm test -- --coverage

after_success:
  - docker build -t bretts89/multi-client ./client
  - docker build -t bretts89/multi-nginx ./nginx
  - docker build -t bretts89/multi-server ./server
  - docker build -t bretts89/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push bretts89/multi-client
  - docker push bretts89/multi-nginx
  - docker push bretts89/multi-server
  - docker push bretts89/multi-worker 
  
deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: multi-docker
  env: Multidocker-env
  bucket_name: elasticbeanstalk-us-east-1-882330273289
  bucket_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  